*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rebeccapurple;
}

.container {
  width: 450px;
  height: 300px;
  border-radius: 8px;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.3);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-container {
  width: 100%;
  margin: 0 50px;
  position: relative;
}

.slider {
  touch-action: none;
  width: 100%;
  height: 24px;
  border-radius: 12px;
  background-color: #ccc;
  position: relative;
  overflow: hidden;
}

.slider__thumb {
  pointer-events: none;
  position: absolute;
  top: -4px;
  left: 10px;
  width: 32px;
  height: 32px;
  background-color: #999;
  border-radius: 50%;
  cursor:pointer;
  transition: transform 150ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: box-shadow 75ms cubic-bezier(0.075, 0.82, 0.165, 1);
  display: flex; 
  justify-content: center;
}

.slider__thumb:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transform-origin: center;
}

.slider__fill {
  position: absolute;
  height: 24px;
  width: 100%;
  background-color: rebeccapurple;
  transform: translateX(-100%);
  pointer-events: none;
}

.thumb-divider {
  width: 2px;
  height: 100%;
  background-color: #888;
  transform: rotate(40deg);
}